<div class="card text-white bg-darker mb-3">
  <div class="card-header">
    Features
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xs-12 col-12 col-md-4">
        <h4>Pagination</h4>
        <pagination [totalItems]="30"></pagination>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker>
      </div>
    </div>
  </div>
</div>